.large-h1{
    font-size: 100px;
}
h1 {
    color: purple;
    text-align: center;
}
h1 a {
    text-decoration: none
}
p{
    text-align: center;
    font-size: 20px;
    color: purple;
}
ol
    text-align: center;
    color: purple;
}
a{
   color: purple;
   text-align: center;
   text-decoration: none
}

.form-class{
    align: center;
}

